<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="zDBManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <zDBManager.Properties.Settings>
            <setting name="CharacterDB" serializeAs="String">
                <value />
            </setting>
            <setting name="AccountDB" serializeAs="String">
                <value />
            </setting>
            <setting name="CharacterDBHost" serializeAs="String">
                <value />
            </setting>
            <setting name="AccountDBHost" serializeAs="String">
                <value />
            </setting>
            <setting name="CharacterDBLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="AccountDBLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="CharacterDBPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="AccountDBPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectionType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MD5" serializeAs="String">
                <value>0</value>
            </setting>
        </zDBManager.Properties.Settings>
    </userSettings>
</configuration>